In [94]:
import pandas as pd
import numpy as np

In [95]:
df =  pd.read_csv('/content/drive/MyDrive/spam classification (nlp)/SMSSpamCollection', sep='\t',names=["label" ,"messages"] )
df.shape

(5572, 2)

In [96]:
df.head(10)

  label                                           messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [84]:
x[9]

'Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030'

In [97]:
df['label']=df['label'].map({'ham':0 , 'spam':1})
df.head()

   label                                           messages
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [98]:
x=df['messages']
y=df['label']

print(x.shape,y.shape)

(5572,) (5572,)

In [99]:
y[4]

0

In [100]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y,test_size=0.2, random_state=5)

In [101]:
X_train

1658    S:-)if we have one good partnership going we w...
1509    Sounds like something that someone testing me ...
3266    44 7732584351, Do you want a New Nokia 3510i c...
5199           Ugh my leg hurts. Musta overdid it on mon.
3217    URGENT! We are trying to contact U. Todays dra...
                              ...
3046    Hello, yeah i've just got out of the bath and ...
1725              There bold 2  &lt;#&gt; . Is that yours
4079                  Gam gone after outstanding innings.
2254                         Lol enjoy role playing much?
2915    Sorry! U can not unsubscribe yet. THE MOB offe...
Name: messages, Length: 4457, dtype: object

In [102]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
train_vectors = vectorizer.fit_transform(X_train)
test_vectors = vectorizer.transform(X_test)
print(train_vectors.shape, test_vectors.shape)

(4457, 7710) (1115, 7710)

In [ ]:
print(test_vectors)

In [104]:
from sklearn.naive_bayes import MultinomialNB
from  sklearn.metrics  import accuracy_score,confusion_matrix,plot_confusion_matrix
clf=MultinomialNB().fit(train_vectors,y_train)


predicted = clf.predict(test_vectors)
predicted
print(accuracy_score(y_test,predicted))

0.95695067264574

In [105]:
confusion_matrix(y_test,predicted)

array([[970,   0],
       [ 48,  97]])

In [319]:
##testing

In [114]:
def classify_message(text):
    text = vectorizer.transform(text)
    predicted = clf.predict(text)
    if predicted==0:
        print("Not Spam")
    else:
        print("This is Spam")
        
message1 = []
n =input()
message1.append(n)
# message1=["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]
classify_message(message1)
# message2=["Free entry in part, you have won 400$"]
# print(classify_message(message2))

Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
This is Spam